{% extends "layout.html" %}
{% block title %}About Us{% endblock %}

{{ super() }}

{% block content %}
    
    <style>
        body{
            text-align:center;
        }
        .set{
            display:flex;
            justify-content:center;
        }
        .card{
            margin-left:5px;
            width:30vw;
            height:300px;
        }
        .card-image{
            height:250px;
            width:100%;
        }
        img{
            height:100%;
            object-fit:contain;
        }
        .desciption{
            margin-top: 100px;
        }
        .name{  
            display:flex;
            justify-content:center;
            align-items: center;
            height:30px;
        }
        
    </style>

    <h2>About Us</h2>

        <div class="set">
            <div class="card">
                <div class="card-image">
                    <img src="/static/images/quan.jpg">
                </div>
                <div class="name">
                    Quan Afoon
                </div>
            </div>
            <div class="card">
                <div class="card-image">   
                    <img src="/static/images/elijah.jpg">
                </div>
                    <div class="name"> 
                        Elijah Lewis
                    </div>
            </div>
        </div>
        <div class="set">
            <div class="card">
                <div class="card-image">
                    <img src="/static/images/annika.jpg">
                </div>
                <div class="name">
                    Annika Boodoosingh
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/static/images/vijay.jpg">
                </div>
                <div class="name">
                    Dr. Vijayanandh Rajamanickam
                </div>
            </div>
        </div>
    <div class="description">
        <p>PhytoGuard is an application for foliar plant diseases in cucurbit crops, which utilizes advanced image recognition technology to analyze photos of plant leaves and diagnose possible foliar diseases.</p>
        <p>You can continue as a guest or create an account to maintain a history of previous uploads. <b style="color:green">Enjoy!</b> </p>
    </div>
{% endblock %}