{% extends "layout.html" %}
{% block title %}About Us{% endblock %}

{{ super() }}

{% block content %}
    
    <style>

        .set{
            display:flex;
        }
        .card{
            margin-left:5px;
            width:30vw;
            height:350px;
        }
        .card-image{
            height:300px;
            width:100%;
        }
        img{
            height:100%;
            width: 100%;
            object-fit:cover;
        }
        .desciption{
            margin-top: 100px;
        }
        .name{  
            display:flex;
            justify-content:center;
            align-items: center;
            height:30px;
        }
        
    </style>

    <h2>About Us</h2>

    <div class="row">
        <div class="set">
            <div class="card">
                <div class="card-image">
                    <img src="/static/images/quan.jpg">
                </div>
                <div class="name">
                    Quan Afoon
                </div>
            </div>
            <div class="card">
                <div class="card-image">   
                    <img src="/static/images/elijah.jpg">
                </div>
                    <div class="name"> 
                        Elijah Lewis
                    </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="/static/images/annika.jpg">
                </div>
                <div class="name">
                    Annika Boodoosingh
                </div>
            </div>
        </div>
    </div>
    <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum egestas eros id dolor sollicitudin hendrerit. Aliquam tincidunt, tellus at tincidunt fringilla, erat urna malesuada tortor, id sodales lorem ante in tellus. Ut non euismod nisi. Pellentesque ornare turpis quam, eu pharetra dui ultrices ut. Mauris iaculis diam eu lectus auctor, eu ornare eros venenatis. Aenean at purus sem. Vivamus tempor faucibus augue nec interdum.</p>
        <p>Pellentesque at metus sit amet felis imperdiet dignissim in eu metus. Maecenas eu pulvinar nibh. Nunc et metus sit amet magna malesuada ullamcorper. Vivamus eu ultricies magna. Phasellus vel libero eu tortor consectetur aliquam a placerat massa. Fusce tempor ipsum vel metus tempor interdum. Nam scelerisque dolor et mattis egestas. Sed nec orci sit amet lorem lobortis gravida nec at orci. Curabitur eu auctor libero, vitae aliquet ipsum. Integer feugiat quam sed congue laoreet. Aliquam pretium lectus id tortor auctor dignissim. Sed aliquam at sapien id euismod. Pellentesque molestie ultrices hendrerit.</p>
    </div>
{% endblock %}