{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{{ super() }}

{% block content %}

    <style>
        body{
            background-image: url(static/images/plant-background.jpg);
            height:100svh;
            background-size: cover;
            background-position: center;
            color:black;
            width:100%;
        }
        ::placeholder{
            color:#444444;
        }
        
        .container{
            display:grid;
            margin:auto;
            justify-content: center;
            width: 100vw;
        }
        h2{
            margin:auto;
            margin-top:10vh;
        }
        .hidden{
            display:none;
        }
        .switch{
            margin-top:5vh;
            display:flex;
        }
        .switch button{
            margin-left:10px;
        }
        form{
            margin-top:10px;
            width:50vw;
        }
        #guestBtn{
            margin:auto;
            margin-top: 20px;
        }
        #loadingSection{
            margin-top: 30vh;
            width:100%;
        }
        .active{
            background-color: #54c482;
            color: white;
        }

    </style>

    <div id="container" class="container animate__animated animate__backInDown">
        <div id="loginSection" class="animate__animated animate__zoomIn">
            <h2>Login</h2>
            <form method="POST" action="/login">        
                <input id="email" name="email" placeholder="Enter email..." required>
                <input id="password" name="password" placeholder="Enter password..." type="password" required>
                <button id="login-btn" class="btn"> Login </button>
            </form>
            <div class="switch">
                <p>Don't have an account?</p>
                <button onclick="showSignup()" class="btn">Sign up!</button>
            </div>
        </div>

        <div id="signupSection" class="hidden animate__animated animate__zoomIn">
            <h2>Sign up</h2>
            <form method="POST" action="/signup">        
                <input id="signup-email" type="text" name="email" placeholder="Enter email..." required>
                <input id="signup-password" type="text" name="password" placeholder="Enter password..." required>
                <input id="signup-password2" type="text" name="password2" placeholder="Confirm password..." required>
                <button id="signup-btn" class="btn" onclick="showLoading()"> Sign Up </button>
            </form>
            <div id="loading" class="progress hidden">
                <div class="indeterminate"></div>
            </div>
            <div class="switch">
                <p>Already have an account?</p>
                <button onclick="showLogin()" class="btn">Login!</button>
            </div>
        </div>

        <a href="/upload-page" class="btn" id="guestBtn"> Continue as Guest </a>
    </div>

    {% if signup %}
        <div id="signupRequest"></div>
    {% endif %}

    <script>
        const login = document.getElementById("loginSection");
        const signup = document.getElementById("signupSection");
        const loading = document.getElementById("loading");
        const guestBtn = document.getElementById("guestBtn");
        const signupBtn = document.getElementById("signup-btn");
        const email = document.getElementById("email");
        const password = document.getElementById("password");
        const loginBtn = document.getElementById("login-btn");
        const signupEmail = document.getElementById("signup-email");
        const signupPassword = document.getElementById("signup-password");
        const signupPassword2 = document.getElementById("signup-password2");

        email.addEventListener("input", () => {
            filledFields(loginBtn, email, password);
        });
        password.addEventListener("input", () => {
            filledFields(loginBtn, email, password);
        });

        signupEmail.addEventListener("input", () => {
            filledFields(signupBtn, signupEmail, signupPassword, signupPassword2);
        });
        signupPassword.addEventListener("input", () => {
            filledFields(signupBtn, signupEmail, signupPassword, signupPassword2);
        });
        signupPassword2.addEventListener("input", () => {
            filledFields(signupBtn, signupEmail, signupPassword, signupPassword2);
        });

        function filledFields(button, email, password, password2){
            if(email.value.trim() != "" && password.value.trim() != "" && (password2 ? password2.value.trim() != "" : true)){
                button.classList.add("active");
                button.classList.add("pulse");
            }
            else{
                button.classList.remove("active");
                button.classList.remove("pulse");
            }
        }

        function showLogin(){   
            signup.classList.add("hidden");
            login.classList.remove("hidden");
            login.classList.add("animate__zoomIn");
        }
        function showSignup(){
            loading.classList.add("hidden");
            login.classList.add("hidden");
            signup.classList.remove("hidden");
            signup.classList.add("animate__zoomIn");
            signupBtn.classList.remove("hidden");

        }
        function showLoading(){
            const email = document.getElementById("signup-email").value;
            const password = document.getElementById("signup-password").value;
            const password2 = document.getElementById("signup-password2").value;
            if(email == "" || password == "" || password2 == ""){
                return;
            }
            signupBtn.classList.add("hidden");
            loading.classList.remove("hidden");
        }
        window.addEventListener("pageshow", function(event) {
            if (event.persisted) {
                signupBtn.classList.remove("hidden");
                loading.classList.add("hidden");
            }
        });

        if(signupRequest){
            showSignup();
        }        

    </script>

{% endblock %}