{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{{ super() }}

{% block content %}

    <style>
        body{
            background-image: url(static/images/plant-background.jpg);
            height:100vh;
            background-size: cover;
            background-position: center;
            color:black;
            width:100%;
        }
        ::placeholder{
            color:#444444;
        }
        .btn{
            background-color: #33c488;
        }
        .container{
            display:grid;
            margin:auto;
            justify-content: center;
            width: 100vw;
        }
        h2{
            margin:auto;
            margin-top:10vh;
        }
        .hidden{
            display:none;
        }
        .switch{
            margin-top:5vh;
            display:flex;
        }
        .switch button{
            margin-left:10px;
        }
        form{
            margin-top:10px;
            width:50vw;
        }
        #guestBtn{
            width:50vw;
            margin:auto;
            margin-top: 20px;
        }
        #loadingSection{
            margin-top: 30vh;
            width:100%;
        }
        #cancelBtn{
            background-color: #e31934;
            justify-content: center;
            width:50%;
            margin:0 auto;
        }
        
    </style>

    <div class="container">
        <div id="loginSection">
            <h2>Login</h2>
            <form method="POST" action="/login">        
                <input name="email" placeholder="Enter email..." required>
                <input name="password" placeholder="Enter password..." type="password" required>
                <button class="btn"> Login </button>
            </form>
            <div class="switch">
                <p>Don't have an account?</p>
                <button onclick="showSignup()" class="btn">Sign up!</button>
            </div>
        </div>

        <div id="signupSection" class="hidden">
            <h2>Sign up</h2>
            <form method="POST" action="/signup">        
                <input id="signup-email" type="text" name="email" placeholder="Enter email..." required>
                <input id="signup-password" type="text" name="password" placeholder="Enter password..." required>
                <input id="signup-password2" type="text" name="password2" placeholder="Confirm password..." required>
                <button id="signup-btn" class="btn" onclick="showLoading()"> Sign Up </button>
            </form>
            <div id="loading" class="progress hidden">
                <div class="indeterminate"></div>
            </div>
            <div class="switch">
                <p>Already have an account?</p>
                <button onclick="showLogin()" class="btn">Login!</button>
            </div>
        </div>

        <a href="/uploadPage" class="btn" id="guestBtn"> Continue as Guest </a>
    </div>

    {% if signup %}
        <div id="signupRequest"></div>
    {% endif %}

    <script>
        const login = document.getElementById("loginSection");
        const signup = document.getElementById("signupSection");
        const loading = document.getElementById("loading");
        const guestBtn = document.getElementById("guestBtn");
        const signupBtn = document.getElementById("signup-btn");
        

        function showLogin(){
            signup.classList.add("hidden");
            login.classList.remove("hidden");
        }
        function showSignup(){
            login.classList.add("hidden");
            signup.classList.remove("hidden");
            signupBtn.classList.remove("hidden");
            loading.classList.add("hidden");
        }
        function showLoading(){
            const email = document.getElementById("signup-email").value;
            const password = document.getElementById("signup-password").value;
            const password2 = document.getElementById("signup-password2").value;
            if(email == "" || password == "" || password2 == ""){
                return;
            }
            signupBtn.classList.add("hidden");
            loading.classList.remove("hidden");
        }
        window.addEventListener("pageshow", function(event) {
            if (event.persisted) {
                signupBtn.classList.remove("hidden");
                loading.classList.add("hidden");
            }
        });

        if(signupRequest){
            showSignup();
        }

    </script>

{% endblock %}