<!DOCTYPE html>

<body>
    <div style="background-color:#51aa78; height:70px; width:160px; display:flex;">
        <img style="object-fit:contain; max-height:100%; max-width: 100%; margin:0 auto;" src="cid:logo" alt="PhytoGuard">
    </div>
    <p>This email serves to verify your email account for PhytoGuard. </p>
    <p>If you did not to mean register for a PhytoGuard account, please ignore this message.</p>
    <p> If you are registering for a PhytoGuard please use the verification passcode below</p>
    <p>{{passcode}}</p>
</body>

</html>